.bot-stuff {

}

.bot-controls-sub-div {
    display: flex;
    flex-wrap: wrap;
    /*column-count: 2;*/
    gap: 5px;
    margin-top: 20px;
    max-width: 100%;
    justify-content: center;
    row-gap: 10px;
}

.bot-controls-div {
    background-color: black;
    border: 5px solid rgb(51, 51, 51);
    border-radius: 15px;
    box-shadow: black 5px 5px 20px 1px;
    padding: 10px 15px;
    /*min-width: 150px;*/
    /*max-width: 100px;*/
    width: 40%;
    min-height: 600px;
    max-height: fit-content;
    transition: transform 0.2s ease-in-out;
}



