.bot-stuff {
    height: fit-content;
}

.bot-controls-sub-div {
    gap: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1%;
    row-gap: 10px;

}

.bot-controls-div {
    background-color: black;
    border: 5px solid rgb(51, 51, 51);
    border-radius: 15px;
    box-shadow: black 5px 5px 20px 1px;

    transition: transform 0.2s ease-in-out;

    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* collapsible panels stuff */
.collapsible-panel {
    cursor: pointer;
    color: white;

    max-width: 90%;
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;


}
.collapsible-panel-button-text {
    color: white;
    font-size: 0.75em;
}
.blank-space-above-and-below-toggles {
    height: 10px;
}
.panel-hidden {
    display: none;
}
.collapsible-panel:after {
    content: ' ▼';
}
.collapsible-panel.collapsed:after {
    content: ' ▶';
}

@media screen and (max-width: 480px) {
    .blank-space-above-and-below-toggles {
        height: 15px;
    }
}


/* things */

.showing-new-window-button {
    color: white;
    font-size: 0.625em;
    width: 90%;
    text-align: center;
}

.chat-alerts-input {
    font-family: inherit;
    font-size: 1em;
    background-color: black;
    border: 5px solid rgb(51, 51, 51);
    border-radius: 15px;
    white-space: nowrap;
    box-shadow: black 5px 5px 20px 1px;
    text-align: center;
    width: 80%;
    color: white;
}

/* Button Styling */
.chat-alerts-input-submit-button, .chat-alerts-input-reset-button {
    font-family: inherit;
    font-size: 1em;
    background-color: black;
    border: 5px solid rgb(51, 51, 51);
    border-radius: 15px;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: black 5px 5px 20px 1px;
    padding: 10px 15px;
    text-align: center;
    min-width: 150px;
    transition: transform 0.2s ease-in-out;
    color: white;
}