.bot-stuff {
    height: fit-content;
}

.bot-controls-sub-div {
    gap: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1%;
    row-gap: 10px;

}

.bot-controls-div {
    background-color: black;
    border: 5px solid rgb(51, 51, 51);
    border-radius: 15px;
    box-shadow: black 5px 5px 20px 1px;

    transition: transform 0.2s ease-in-out;

    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* collapsible panels stuff */
.collapsible-panel {
    cursor: pointer;
    color: white;

    max-width: 90%;
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;


}
.collapsible-panel-button-text {
    color: white;
    font-size: 0.75em;
}
.panel-hidden {
    display: none;
}
.collapsible-panel:after {
    content: ' ▼';
}
.collapsible-panel.collapsed:after {
    content: ' ▶';

}
