@font-face {
    font-family: 'opendyslexicregular';
    src: url('/fonts/opendyslexic-regular-webfont.woff2') format('woff2'),
    url('/fonts/opendyslexic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* General Styling */
body {
    background-color: #454545;
    margin: 0;
    font-family: opendyslexicregular, Arial, sans-serif;
    text-align: center;
    font-size: calc(1vw + 1vh);
    color: white;
    overflow-x: hidden;
}

/* Vignette Effect */
.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    z-index: -2;
}

/* Button Styling */
button {
    font-family: inherit;
    font-size: 1.2em;
    background-color: black;
    border: 5px solid rgb(51, 51, 51);
    border-radius: 15px;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: black 5px 5px 20px 1px;
    padding: 10px 15px;
    text-align: center;
    min-width: 150px;
    transition: transform 0.2s ease-in-out;
}

.top-links a {
    color: white;
    text-decoration: none;
}

/* Hover Effect */
h1:hover, h4:hover, h5:hover, h6:hover, button:hover {
    transform: rotate(2deg) scale(1.1);
}

@media screen and (max-width: 480px) {
    body {
        font-size: calc(1.5vw + 1.5vh) !important;
    }
}