/*-----------------switches--------------------*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #202020;
    -webkit-transition: .4s;
    transition: .4s;
    border: rgba(170, 170, 170, 0.67);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

/*.slider:after {*/
/*    background-color: red;*/
/*}*/

input:checked + .slider {
    background-color: black;
}

input:focus + .slider {
    box-shadow: 0 0 1px rgba(170, 170, 170, 0.67);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: rgb(0, 255, 0);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:hover {
    transform: rotate(-2deg) scale(1.2);
}